/* pages/index/index.wxss */
.index {
  height: 100vh;
  padding: 40rpx;
  box-sizing: border-box;
}

.upLoad {
  height: 100rpx;
  margin: 40rpx auto;
  font-size: 28rpx;
  color: #677BFC;
  letter-spacing: 2px;
}

.content {
  flex: 1;
  border-radius: 24rpx;
  padding: 32rpx;
  box-sizing: border-box;
  .box {
    width: 100%;
  }
  .img{
    max-width: 100%;
  }
}

.color-group {
  flex: 1;
  width: 100%;
  padding: 0 48rpx;
  box-sizing: border-box;
  margin-top: 32rpx;
}

.color-row {
  width: 100%;
  font-size: 28rpx;
  margin-top: 24rpx;

  .color {
    border-radius: 100rpx;
    width: 70rpx;
    height: 70rpx;
    box-shadow: 0rpx 1rpx 10rpx 0rpx rgba(0, 0, 0, 0.2);
  }
  .desc{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size:24rpx;
    color: #474F59;
    font-weight: 500;
  }
}

.tip {
  margin-top: 48rpx;
  font-size: 24rpx;
  color: #AAB6C6;
}

.action-btn{
  margin-top: 24rpx;
  background-color: rgb(103 123 241 / 0.2);
  padding: 8rpx 0;
  width: 200rpx;
  text-align: center;
  border-radius: 100rpx;
  color: #677BFC;
  font-size:24rpx;
}

.actions{
  display: flex;
  align-items: center;
  gap: 48rpx;
}

.poster-preview{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  height: 55vh;
  background: #fff;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24rpx;
  .desc{
    color: #AAB6C6;
    margin-top: 32rpx;
    font-size:24rpx;
  }
}

#poster{
  border-radius:24rpx;
  overflow: hidden;
}